--
-- PostgreSQL database dump
--

\restrict wY0UPcxsNI8Hjn9fgqKcVf5dHFkOrsViF1W6WRM3vR0ZxUhN86ZlhqKpppLaB7y

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: academic_years; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.academic_years (
    year_id integer NOT NULL,
    year_name character varying(50) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    status character varying(20) NOT NULL
);


ALTER TABLE public.academic_years OWNER TO postgres;

--
-- Name: academic_years_year_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.academic_years_year_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.academic_years_year_id_seq OWNER TO postgres;

--
-- Name: academic_years_year_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.academic_years_year_id_seq OWNED BY public.academic_years.year_id;


--
-- Name: activities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities (
    id integer NOT NULL,
    title character varying,
    description character varying,
    event_date date,
    image_url character varying
);


ALTER TABLE public.activities OWNER TO postgres;

--
-- Name: activities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activities_id_seq OWNER TO postgres;

--
-- Name: activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activities_id_seq OWNED BY public.activities.id;


--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    admin_id character varying NOT NULL,
    first_name character varying,
    last_name character varying,
    email character varying,
    phone character varying,
    permissions character varying,
    profile_image_url character varying
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: admission_enquiries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admission_enquiries (
    id integer NOT NULL,
    student_name character varying NOT NULL,
    class_applied character varying NOT NULL,
    parent_name character varying NOT NULL,
    phone character varying NOT NULL,
    message text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    sync_status character varying(20) DEFAULT 'synced'::character varying
);


ALTER TABLE public.admission_enquiries OWNER TO postgres;

--
-- Name: admission_enquiries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admission_enquiries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admission_enquiries_id_seq OWNER TO postgres;

--
-- Name: admission_enquiries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admission_enquiries_id_seq OWNED BY public.admission_enquiries.id;


--
-- Name: announcements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.announcements (
    id integer NOT NULL,
    title character varying,
    message character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.announcements OWNER TO postgres;

--
-- Name: announcements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.announcements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.announcements_id_seq OWNER TO postgres;

--
-- Name: announcements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.announcements_id_seq OWNED BY public.announcements.id;


--
-- Name: attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance (
    id integer NOT NULL,
    student_id character varying,
    date date,
    class character varying,
    section character varying,
    status character varying,
    remarks character varying,
    academic_year character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    sync_status character varying(20) DEFAULT 'synced'::character varying,
    sync_attempts integer DEFAULT 0
);


ALTER TABLE public.attendance OWNER TO postgres;

--
-- Name: attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attendance_id_seq OWNER TO postgres;

--
-- Name: attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendance_id_seq OWNED BY public.attendance.id;


--
-- Name: class; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class (
    class character varying NOT NULL,
    section character varying NOT NULL,
    class_teacher character varying,
    academic_year character varying
);


ALTER TABLE public.class OWNER TO postgres;

--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    date timestamp without time zone,
    thumbnail_url character varying(1024),
    created_at timestamp without time zone
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: fee_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fee_categories (
    category_id integer NOT NULL,
    category_name character varying(100) NOT NULL
);


ALTER TABLE public.fee_categories OWNER TO postgres;

--
-- Name: fee_categories_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fee_categories_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fee_categories_category_id_seq OWNER TO postgres;

--
-- Name: fee_categories_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fee_categories_category_id_seq OWNED BY public.fee_categories.category_id;


--
-- Name: fee_payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fee_payments (
    id integer NOT NULL,
    receipt_no character varying(30) NOT NULL,
    student_id character varying NOT NULL,
    fee_structure_id integer NOT NULL,
    amount_paid numeric(10,2) NOT NULL,
    payment_mode character varying(20) NOT NULL,
    payment_date timestamp without time zone NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    sync_status character varying(20) DEFAULT 'synced'::character varying,
    sync_attempts integer DEFAULT 0
);


ALTER TABLE public.fee_payments OWNER TO postgres;

--
-- Name: fee_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fee_payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fee_payments_id_seq OWNER TO postgres;

--
-- Name: fee_payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fee_payments_id_seq OWNED BY public.fee_payments.id;


--
-- Name: fee_structures; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fee_structures (
    id integer NOT NULL,
    academic_year_id integer NOT NULL,
    school_class character varying NOT NULL,
    term_id integer NOT NULL,
    category_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    sync_status character varying(20) DEFAULT 'synced'::character varying,
    sync_attempts integer DEFAULT 0
);


ALTER TABLE public.fee_structures OWNER TO postgres;

--
-- Name: fee_structures_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fee_structures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fee_structures_id_seq OWNER TO postgres;

--
-- Name: fee_structures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fee_structures_id_seq OWNED BY public.fee_structures.id;


--
-- Name: fees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fees (
    fee_id integer NOT NULL,
    student_id character varying,
    month character varying,
    year integer,
    fee_type character varying,
    amount double precision,
    due_date date,
    status character varying,
    paid_date date,
    payment_method character varying
);


ALTER TABLE public.fees OWNER TO postgres;

--
-- Name: fees_fee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fees_fee_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fees_fee_id_seq OWNER TO postgres;

--
-- Name: fees_fee_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fees_fee_id_seq OWNED BY public.fees.fee_id;


--
-- Name: marks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.marks (
    mark_id integer NOT NULL,
    student_id character varying,
    class character varying,
    section character varying,
    subject character varying,
    exam_type character varying,
    marks_obtained double precision,
    total_marks double precision,
    exam_date date,
    academic_year character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    sync_status character varying(20) DEFAULT 'synced'::character varying,
    sync_attempts integer DEFAULT 0
);


ALTER TABLE public.marks OWNER TO postgres;

--
-- Name: marks_mark_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.marks_mark_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.marks_mark_id_seq OWNER TO postgres;

--
-- Name: marks_mark_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.marks_mark_id_seq OWNED BY public.marks.mark_id;


--
-- Name: media; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.media (
    id integer NOT NULL,
    event_id integer NOT NULL,
    media_url character varying(1024) NOT NULL,
    media_type character varying(50),
    created_at timestamp without time zone
);


ALTER TABLE public.media OWNER TO postgres;

--
-- Name: media_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.media_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.media_id_seq OWNER TO postgres;

--
-- Name: media_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.media_id_seq OWNED BY public.media.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    target_type character varying(50) NOT NULL,
    class_name character varying(50),
    type character varying(50),
    reference_id integer,
    is_read integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: parents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.parents (
    parent_id character varying NOT NULL,
    father_name character varying,
    mother_name character varying,
    phone_primary character varying,
    address character varying,
    profile_image_url character varying,
    guardian_name character varying,
    relationship character varying,
    phone_secondary character varying,
    occupation character varying,
    password character varying
);


ALTER TABLE public.parents OWNER TO postgres;

--
-- Name: password_reset_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_requests (
    id integer NOT NULL,
    phone_number character varying,
    parent_id character varying,
    request_time timestamp with time zone DEFAULT now(),
    status character varying
);


ALTER TABLE public.password_reset_requests OWNER TO postgres;

--
-- Name: password_reset_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_reset_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_requests_id_seq OWNER TO postgres;

--
-- Name: password_reset_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_reset_requests_id_seq OWNED BY public.password_reset_requests.id;


--
-- Name: promotion_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotion_audit_logs (
    id integer NOT NULL,
    student_id character varying NOT NULL,
    student_name character varying NOT NULL,
    current_academic_year_id integer NOT NULL,
    target_academic_year_id integer NOT NULL,
    previous_class character varying NOT NULL,
    new_class character varying NOT NULL,
    previous_section character varying NOT NULL,
    new_section character varying NOT NULL,
    promoted_by character varying NOT NULL,
    promotion_date timestamp without time zone,
    status character varying(50) NOT NULL,
    error_message character varying
);


ALTER TABLE public.promotion_audit_logs OWNER TO postgres;

--
-- Name: promotion_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.promotion_audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.promotion_audit_logs_id_seq OWNER TO postgres;

--
-- Name: promotion_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.promotion_audit_logs_id_seq OWNED BY public.promotion_audit_logs.id;


--
-- Name: scholarship_postings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scholarship_postings (
    id integer NOT NULL,
    academic_year_id integer NOT NULL,
    student_id character varying NOT NULL,
    scholarship_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    sync_status character varying(20) DEFAULT 'synced'::character varying,
    sync_attempts integer DEFAULT 0
);


ALTER TABLE public.scholarship_postings OWNER TO postgres;

--
-- Name: scholarship_postings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scholarship_postings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scholarship_postings_id_seq OWNER TO postgres;

--
-- Name: scholarship_postings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scholarship_postings_id_seq OWNED BY public.scholarship_postings.id;


--
-- Name: scholarships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scholarships (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.scholarships OWNER TO postgres;

--
-- Name: scholarships_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.scholarships_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scholarships_id_seq OWNER TO postgres;

--
-- Name: scholarships_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.scholarships_id_seq OWNED BY public.scholarships.id;


--
-- Name: staff; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff (
    id integer NOT NULL,
    employee_id character varying NOT NULL,
    employee_name character varying NOT NULL,
    gender character varying NOT NULL,
    mobile_no character varying NOT NULL,
    designation character varying NOT NULL,
    date_of_joining date NOT NULL,
    door_no character varying,
    street_name character varying,
    state character varying,
    district character varying,
    pincode character varying,
    access_rights character varying,
    user_id integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    is_active boolean,
    staff_id character varying,
    first_name character varying,
    last_name character varying,
    email character varying,
    phone character varying,
    department character varying,
    profile_image_url character varying
);


ALTER TABLE public.staff OWNER TO postgres;

--
-- Name: staff_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.staff_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.staff_id_seq OWNER TO postgres;

--
-- Name: staff_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.staff_id_seq OWNED BY public.staff.id;


--
-- Name: student_enrollments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_enrollments (
    id integer NOT NULL,
    student_id character varying NOT NULL,
    academic_year_id integer NOT NULL,
    school_class character varying NOT NULL,
    section character varying NOT NULL,
    roll_number character varying,
    status character varying(50) NOT NULL,
    promoted_from_enrollment_id integer,
    promoted_date timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    sync_status character varying(20) DEFAULT 'synced'::character varying,
    sync_attempts integer DEFAULT 0
);


ALTER TABLE public.student_enrollments OWNER TO postgres;

--
-- Name: student_enrollments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.student_enrollments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_enrollments_id_seq OWNER TO postgres;

--
-- Name: student_enrollments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.student_enrollments_id_seq OWNED BY public.student_enrollments.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    student_id character varying NOT NULL,
    admission_number character varying,
    first_name character varying,
    last_name character varying,
    gender character varying,
    date_of_birth date,
    class character varying,
    section character varying,
    roll_number character varying,
    academic_year character varying,
    parent_id character varying
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: subject; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subject (
    subj_id integer NOT NULL,
    subj_name character varying,
    class character varying,
    academic_year character varying
);


ALTER TABLE public.subject OWNER TO postgres;

--
-- Name: subject_subj_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.subject_subj_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subject_subj_id_seq OWNER TO postgres;

--
-- Name: subject_subj_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.subject_subj_id_seq OWNED BY public.subject.subj_id;


--
-- Name: sync_meta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sync_meta (
    key character varying(100) NOT NULL,
    value text,
    updated_at timestamp without time zone
);


ALTER TABLE public.sync_meta OWNER TO postgres;

--
-- Name: terms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.terms (
    term_id integer NOT NULL,
    term_name character varying(30) NOT NULL
);


ALTER TABLE public.terms OWNER TO postgres;

--
-- Name: terms_term_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.terms_term_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.terms_term_id_seq OWNER TO postgres;

--
-- Name: terms_term_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.terms_term_id_seq OWNED BY public.terms.term_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    phone_number character varying,
    password character varying,
    role character varying,
    parent_id character varying,
    student_id character varying,
    staff_id character varying,
    admin_id character varying,
    can_collect_fee boolean
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 2
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: academic_years year_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_years ALTER COLUMN year_id SET DEFAULT nextval('public.academic_years_year_id_seq'::regclass);


--
-- Name: activities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities ALTER COLUMN id SET DEFAULT nextval('public.activities_id_seq'::regclass);


--
-- Name: admission_enquiries id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admission_enquiries ALTER COLUMN id SET DEFAULT nextval('public.admission_enquiries_id_seq'::regclass);


--
-- Name: announcements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements ALTER COLUMN id SET DEFAULT nextval('public.announcements_id_seq'::regclass);


--
-- Name: attendance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance ALTER COLUMN id SET DEFAULT nextval('public.attendance_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: fee_categories category_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_categories ALTER COLUMN category_id SET DEFAULT nextval('public.fee_categories_category_id_seq'::regclass);


--
-- Name: fee_payments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_payments ALTER COLUMN id SET DEFAULT nextval('public.fee_payments_id_seq'::regclass);


--
-- Name: fee_structures id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_structures ALTER COLUMN id SET DEFAULT nextval('public.fee_structures_id_seq'::regclass);


--
-- Name: fees fee_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fees ALTER COLUMN fee_id SET DEFAULT nextval('public.fees_fee_id_seq'::regclass);


--
-- Name: marks mark_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks ALTER COLUMN mark_id SET DEFAULT nextval('public.marks_mark_id_seq'::regclass);


--
-- Name: media id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media ALTER COLUMN id SET DEFAULT nextval('public.media_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: password_reset_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_requests ALTER COLUMN id SET DEFAULT nextval('public.password_reset_requests_id_seq'::regclass);


--
-- Name: promotion_audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotion_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.promotion_audit_logs_id_seq'::regclass);


--
-- Name: scholarship_postings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scholarship_postings ALTER COLUMN id SET DEFAULT nextval('public.scholarship_postings_id_seq'::regclass);


--
-- Name: scholarships id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scholarships ALTER COLUMN id SET DEFAULT nextval('public.scholarships_id_seq'::regclass);


--
-- Name: staff id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff ALTER COLUMN id SET DEFAULT nextval('public.staff_id_seq'::regclass);


--
-- Name: student_enrollments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_enrollments ALTER COLUMN id SET DEFAULT nextval('public.student_enrollments_id_seq'::regclass);


--
-- Name: subject subj_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject ALTER COLUMN subj_id SET DEFAULT nextval('public.subject_subj_id_seq'::regclass);


--
-- Name: terms term_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.terms ALTER COLUMN term_id SET DEFAULT nextval('public.terms_term_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: academic_years; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.academic_years (year_id, year_name, start_date, end_date, status) FROM stdin;
1	2026-2027	2026-01-01	2027-12-31	INACTIVE
2	2025-2026	2025-06-01	2026-04-30	ACTIVE
3	2027-2028	2027-01-01	2029-12-31	INACTIVE
\.


--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.activities (id, title, description, event_date, image_url) FROM stdin;
\.


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admins (admin_id, first_name, last_name, email, phone, permissions, profile_image_url) FROM stdin;
\.


--
-- Data for Name: admission_enquiries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admission_enquiries (id, student_name, class_applied, parent_name, phone, message, created_at, updated_at, sync_status) FROM stdin;
\.


--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: class; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.class (class, section, class_teacher, academic_year) FROM stdin;
VII	A	P.MARIYAMMAL	2025-2026
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fee_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fee_categories (category_id, category_name) FROM stdin;
1	Course Fee
2	Bag & Book Fee
3	Miscellaneous Fee
4	Transportation Fee
\.


--
-- Data for Name: fee_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fee_payments (id, receipt_no, student_id, fee_structure_id, amount_paid, payment_mode, payment_date, updated_at, sync_status, sync_attempts) FROM stdin;
\.


--
-- Data for Name: fee_structures; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: marks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: media; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, title, message, target_type, class_name, type, reference_id, is_read, created_at) FROM stdin;
1	Quarterly Exam Schedule Released	Class 7 Quarterly Examination schedule has been released. Exams start from September 15th.	class	7	ANNOUNCEMENT	\N	0	2026-08-21 08:21:15.53728+00
2	New Media Added in Gallery	Check out the latest photos from the Independence Day Celebration 2025 in the school gallery.	all	\N	MEDIA	\N	0	2026-08-21 08:21:15.53728+00
\.


--
-- Data for Name: parents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_reset_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_requests (id, phone_number, parent_id, request_time, status) FROM stdin;
\.


--
-- Data for Name: promotion_audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.promotion_audit_logs (id, student_id, student_name, current_academic_year_id, target_academic_year_id, previous_class, new_class, previous_section, new_section, promoted_by, promotion_date, status, error_message) FROM stdin;
\.


--
-- Data for Name: scholarship_postings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scholarship_postings (id, academic_year_id, student_id, scholarship_id, amount, created_at, updated_at, sync_status, sync_attempts) FROM stdin;
\.


--
-- Data for Name: scholarships; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scholarships (id, name) FROM stdin;
\.


--
-- Data for Name: staff; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: student_enrollments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: subject; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subject (subj_id, subj_name, class, academic_year) FROM stdin;
1	Tamil	VII	2025-2026
2	English	VII	2025-2026
3	Maths 	VII	2025-2026
4	Science	VII	2025-2026
5	Social	VII	2025-2026
\.


--
-- Data for Name: sync_meta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sync_meta (key, value, updated_at) FROM stdin;
last_sync_timestamp	2026-09-17 13:56:29.555984+00	2026-09-17 13:56:29.555984
last_sync_status	success	2026-09-17 13:56:29.555984
last_pulled_at	2026-09-17T14:04:38.931142	2026-09-17 14:04:38.354449
last_synced_at	2026-09-17T14:04:38.931142	2026-09-17 14:04:38.943901
\.


--
-- Data for Name: terms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.terms (term_id, term_name) FROM stdin;
1	Term 1
2	Term 2
3	Term 3
4	Annual
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: academic_years_year_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.academic_years_year_id_seq', 3, true);


--
-- Name: activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activities_id_seq', 1001, false);


--
-- Name: admission_enquiries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admission_enquiries_id_seq', 1001, false);


--
-- Name: announcements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.announcements_id_seq', 1001, false);


--
-- Name: attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_id_seq', 1001, true);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.events_id_seq', 1, false);


--
-- Name: fee_categories_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fee_categories_category_id_seq', 4, true);


--
-- Name: fee_payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fee_payments_id_seq', 1001, false);


--
-- Name: fee_structures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fee_structures_id_seq', 208, true);


--
-- Name: fees_fee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fees_fee_id_seq', 1, false);


--
-- Name: marks_mark_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.marks_mark_id_seq', 1001, false);


--
-- Name: media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.media_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1001, false);


--
-- Name: password_reset_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.password_reset_requests_id_seq', 1, false);


--
-- Name: promotion_audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.promotion_audit_logs_id_seq', 1, false);


--
-- Name: scholarship_postings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scholarship_postings_id_seq', 1001, false);


--
-- Name: scholarships_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scholarships_id_seq', 1, false);


--
-- Name: staff_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.staff_id_seq', 1, false);


--
-- Name: student_enrollments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_enrollments_id_seq', 1001, false);


--
-- Name: subject_subj_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subject_subj_id_seq', 1, false);


--
-- Name: terms_term_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.terms_term_id_seq', 4, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1001, false);


--
-- Name: fee_structures _academic_year_class_term_category_uc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_structures
    ADD CONSTRAINT _academic_year_class_term_category_uc UNIQUE (academic_year_id, school_class, term_id, category_id);


--
-- Name: academic_years academic_years_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_years
    ADD CONSTRAINT academic_years_pkey PRIMARY KEY (year_id);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (id);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (admin_id);


--
-- Name: admission_enquiries admission_enquiries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admission_enquiries
    ADD CONSTRAINT admission_enquiries_pkey PRIMARY KEY (id);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: class class_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class
    ADD CONSTRAINT class_pkey PRIMARY KEY (class, section);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: fee_categories fee_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_categories
    ADD CONSTRAINT fee_categories_pkey PRIMARY KEY (category_id);


--
-- Name: fee_payments fee_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_payments
    ADD CONSTRAINT fee_payments_pkey PRIMARY KEY (id);


--
-- Name: fee_structures fee_structures_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_structures
    ADD CONSTRAINT fee_structures_pkey PRIMARY KEY (id);


--
-- Name: fees fees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_pkey PRIMARY KEY (fee_id);


--
-- Name: marks marks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_pkey PRIMARY KEY (mark_id);


--
-- Name: media media_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: parents parents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.parents
    ADD CONSTRAINT parents_pkey PRIMARY KEY (parent_id);


--
-- Name: password_reset_requests password_reset_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_requests
    ADD CONSTRAINT password_reset_requests_pkey PRIMARY KEY (id);


--
-- Name: promotion_audit_logs promotion_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotion_audit_logs
    ADD CONSTRAINT promotion_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: scholarship_postings scholarship_postings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scholarship_postings
    ADD CONSTRAINT scholarship_postings_pkey PRIMARY KEY (id);


--
-- Name: scholarships scholarships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scholarships
    ADD CONSTRAINT scholarships_pkey PRIMARY KEY (id);


--
-- Name: staff staff_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_pkey PRIMARY KEY (id);


--
-- Name: student_enrollments student_enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_enrollments
    ADD CONSTRAINT student_enrollments_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (student_id);


--
-- Name: subject subject_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject
    ADD CONSTRAINT subject_pkey PRIMARY KEY (subj_id);


--
-- Name: sync_meta sync_meta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sync_meta
    ADD CONSTRAINT sync_meta_pkey PRIMARY KEY (key);


--
-- Name: terms terms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.terms
    ADD CONSTRAINT terms_pkey PRIMARY KEY (term_id);


--
-- Name: scholarship_postings uq_scholarship_posting_student_year; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scholarship_postings
    ADD CONSTRAINT uq_scholarship_posting_student_year UNIQUE (student_id, academic_year_id, scholarship_id);


--
-- Name: student_enrollments uq_student_academic_year; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_enrollments
    ADD CONSTRAINT uq_student_academic_year UNIQUE (student_id, academic_year_id);


--
-- Name: attendance uq_student_date_attendance; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT uq_student_date_attendance UNIQUE (student_id, date);


--
-- Name: marks uq_student_exam_subject_year; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT uq_student_exam_subject_year UNIQUE (student_id, exam_type, subject, academic_year);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: ix_academic_years_year_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_academic_years_year_id ON public.academic_years USING btree (year_id);


--
-- Name: ix_academic_years_year_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_academic_years_year_name ON public.academic_years USING btree (year_name);


--
-- Name: ix_activities_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_activities_id ON public.activities USING btree (id);


--
-- Name: ix_admins_admin_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_admins_admin_id ON public.admins USING btree (admin_id);


--
-- Name: ix_admins_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_admins_email ON public.admins USING btree (email);


--
-- Name: ix_admins_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_admins_phone ON public.admins USING btree (phone);


--
-- Name: ix_admission_enquiries_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_admission_enquiries_id ON public.admission_enquiries USING btree (id);


--
-- Name: ix_announcements_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_announcements_id ON public.announcements USING btree (id);


--
-- Name: ix_attendance_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_attendance_id ON public.attendance USING btree (id);


--
-- Name: ix_events_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_events_id ON public.events USING btree (id);


--
-- Name: ix_fee_categories_category_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_categories_category_id ON public.fee_categories USING btree (category_id);


--
-- Name: ix_fee_categories_category_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_fee_categories_category_name ON public.fee_categories USING btree (category_name);


--
-- Name: ix_fee_payments_fee_structure_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_payments_fee_structure_id ON public.fee_payments USING btree (fee_structure_id);


--
-- Name: ix_fee_payments_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_payments_id ON public.fee_payments USING btree (id);


--
-- Name: ix_fee_payments_receipt_no; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_payments_receipt_no ON public.fee_payments USING btree (receipt_no);


--
-- Name: ix_fee_payments_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_payments_student_id ON public.fee_payments USING btree (student_id);


--
-- Name: ix_fee_structures_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_structures_id ON public.fee_structures USING btree (id);


--
-- Name: ix_fee_structures_school_class; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fee_structures_school_class ON public.fee_structures USING btree (school_class);


--
-- Name: ix_fees_fee_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fees_fee_id ON public.fees USING btree (fee_id);


--
-- Name: ix_marks_mark_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_marks_mark_id ON public.marks USING btree (mark_id);


--
-- Name: ix_media_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_media_id ON public.media USING btree (id);


--
-- Name: ix_notifications_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_id ON public.notifications USING btree (id);


--
-- Name: ix_parents_parent_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_parents_parent_id ON public.parents USING btree (parent_id);


--
-- Name: ix_parents_phone_primary; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_parents_phone_primary ON public.parents USING btree (phone_primary);


--
-- Name: ix_password_reset_requests_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_password_reset_requests_id ON public.password_reset_requests USING btree (id);


--
-- Name: ix_password_reset_requests_phone_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_password_reset_requests_phone_number ON public.password_reset_requests USING btree (phone_number);


--
-- Name: ix_promotion_audit_logs_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_promotion_audit_logs_id ON public.promotion_audit_logs USING btree (id);


--
-- Name: ix_promotion_audit_logs_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_promotion_audit_logs_student_id ON public.promotion_audit_logs USING btree (student_id);


--
-- Name: ix_scholarship_postings_academic_year_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_scholarship_postings_academic_year_id ON public.scholarship_postings USING btree (academic_year_id);


--
-- Name: ix_scholarship_postings_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_scholarship_postings_id ON public.scholarship_postings USING btree (id);


--
-- Name: ix_scholarship_postings_scholarship_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_scholarship_postings_scholarship_id ON public.scholarship_postings USING btree (scholarship_id);


--
-- Name: ix_scholarship_postings_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_scholarship_postings_student_id ON public.scholarship_postings USING btree (student_id);


--
-- Name: ix_scholarships_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_scholarships_id ON public.scholarships USING btree (id);


--
-- Name: ix_scholarships_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_scholarships_name ON public.scholarships USING btree (name);


--
-- Name: ix_staff_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_staff_email ON public.staff USING btree (email);


--
-- Name: ix_staff_employee_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_staff_employee_id ON public.staff USING btree (employee_id);


--
-- Name: ix_staff_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_staff_id ON public.staff USING btree (id);


--
-- Name: ix_staff_mobile_no; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_staff_mobile_no ON public.staff USING btree (mobile_no);


--
-- Name: ix_staff_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_staff_phone ON public.staff USING btree (phone);


--
-- Name: ix_staff_staff_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_staff_staff_id ON public.staff USING btree (staff_id);


--
-- Name: ix_student_enrollments_academic_year_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_student_enrollments_academic_year_id ON public.student_enrollments USING btree (academic_year_id);


--
-- Name: ix_student_enrollments_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_student_enrollments_id ON public.student_enrollments USING btree (id);


--
-- Name: ix_student_enrollments_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_student_enrollments_student_id ON public.student_enrollments USING btree (student_id);


--
-- Name: ix_students_parent_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_students_parent_id ON public.students USING btree (parent_id);


--
-- Name: ix_students_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_students_student_id ON public.students USING btree (student_id);


--
-- Name: ix_subject_subj_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_subject_subj_id ON public.subject USING btree (subj_id);


--
-- Name: ix_subject_subj_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_subject_subj_name ON public.subject USING btree (subj_name);


--
-- Name: ix_terms_term_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_terms_term_id ON public.terms USING btree (term_id);


--
-- Name: ix_terms_term_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_terms_term_name ON public.terms USING btree (term_name);


--
-- Name: ix_users_phone_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_phone_number ON public.users USING btree (phone_number);


--
-- Name: ix_users_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_user_id ON public.users USING btree (user_id);


--
-- Name: attendance attendance_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- Name: fee_payments fee_payments_fee_structure_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_payments
    ADD CONSTRAINT fee_payments_fee_structure_id_fkey FOREIGN KEY (fee_structure_id) REFERENCES public.fee_structures(id) ON DELETE CASCADE;


--
-- Name: fee_payments fee_payments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_payments
    ADD CONSTRAINT fee_payments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: fee_structures fee_structures_academic_year_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_structures
    ADD CONSTRAINT fee_structures_academic_year_id_fkey FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(year_id) ON DELETE CASCADE;


--
-- Name: fee_structures fee_structures_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_structures
    ADD CONSTRAINT fee_structures_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.fee_categories(category_id) ON DELETE CASCADE;


--
-- Name: fee_structures fee_structures_term_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_structures
    ADD CONSTRAINT fee_structures_term_id_fkey FOREIGN KEY (term_id) REFERENCES public.terms(term_id) ON DELETE CASCADE;


--
-- Name: fees fees_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- Name: marks marks_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id);


--
-- Name: media media_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id);


--
-- Name: promotion_audit_logs promotion_audit_logs_current_academic_year_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotion_audit_logs
    ADD CONSTRAINT promotion_audit_logs_current_academic_year_id_fkey FOREIGN KEY (current_academic_year_id) REFERENCES public.academic_years(year_id) ON DELETE RESTRICT;


--
-- Name: promotion_audit_logs promotion_audit_logs_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotion_audit_logs
    ADD CONSTRAINT promotion_audit_logs_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: promotion_audit_logs promotion_audit_logs_target_academic_year_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotion_audit_logs
    ADD CONSTRAINT promotion_audit_logs_target_academic_year_id_fkey FOREIGN KEY (target_academic_year_id) REFERENCES public.academic_years(year_id) ON DELETE RESTRICT;


--
-- Name: scholarship_postings scholarship_postings_academic_year_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scholarship_postings
    ADD CONSTRAINT scholarship_postings_academic_year_id_fkey FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(year_id) ON DELETE CASCADE;


--
-- Name: scholarship_postings scholarship_postings_scholarship_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scholarship_postings
    ADD CONSTRAINT scholarship_postings_scholarship_id_fkey FOREIGN KEY (scholarship_id) REFERENCES public.scholarships(id) ON DELETE CASCADE;


--
-- Name: scholarship_postings scholarship_postings_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scholarship_postings
    ADD CONSTRAINT scholarship_postings_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: staff staff_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: student_enrollments student_enrollments_academic_year_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_enrollments
    ADD CONSTRAINT student_enrollments_academic_year_id_fkey FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(year_id) ON DELETE CASCADE;


--
-- Name: student_enrollments student_enrollments_promoted_from_enrollment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_enrollments
    ADD CONSTRAINT student_enrollments_promoted_from_enrollment_id_fkey FOREIGN KEY (promoted_from_enrollment_id) REFERENCES public.student_enrollments(id) ON DELETE SET NULL;


--
-- Name: student_enrollments student_enrollments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_enrollments
    ADD CONSTRAINT student_enrollments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: students students_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.parents(parent_id);


--
-- PostgreSQL database dump complete
--

\unrestrict wY0UPcxsNI8Hjn9fgqKcVf5dHFkOrsViF1W6WRM3vR0ZxUhN86ZlhqKpppLaB7y

