DATABASE_URL=postgresql://neondb_owner:npg_LWGS7NyJuc0X@ep-twilight-haze-ayi43kcc-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
S3_BUCKET=greenpark-gallery
INSTAGRAM_BUSINESS_ID=your_instagram_business_id_here
INSTAGRAM_ACCESS_TOKEN=your_instagram_access_token_here
